
__pycache__/
*.py[cod]
*$py.class

venv/
env/
.venv/
anaconda_projects/

.idea/
.vscode/
.spyderproject/

.ipynb_checkpoints/
.virtual_documents/


models/ml_compra
*.pkl
*.h5
*.joblib
*.pt
*.pth
models/ml_queda
*.pkl
*.h5
*.joblib
*.pt
*.pth

.env


.DS_Store
Thumbs.db